# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build, Test & Deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
    
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - uses: actions/checkout@v2
      - name: Publish
        uses: cloudflare/wrangler-action@1.3.0
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          secrets: |
            MAIL_SUBJECT
            RECIPIENT_NAME
            RECIPIENT_EMAIL
            ACCESS_CONTROL_ALLOW_ORIGIN
            SENDGRID_API_KEY
            RECAPTCHA_SECRET
            SENTRY_DSN
        env:
          MAIL_SUBJECT: Contact Request
          RECIPIENT_NAME: Integrative Wellness
          RECIPIENT_EMAIL: integrativewellness@midconetwork.com
          ACCESS_CONTROL_ALLOW_ORIGIN: ${{ secrets.CF_ACCESS_CONTROL_ALLOW_ORIGIN }}
          SENDGRID_API_KEY: ${{ secrets.CF_SENDGRID_API_KEY }}
          RECAPTCHA_SECRET: ${{ secrets.CF_RECAPTCHA_SECRET }}
          SENTRY_DSN: ${{ secrets.CF_SENTRY_DSN }}
